---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Proyects from "../components/Proyects.astro";
import Services from "@/components/Services.astro";
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";

---

<Layout>
  <header class="fixed z-50">
    <Navbar />
  </header>
  <main class="flex flex-col gap-30 pt-20">
	  <Hero />
    <Proyects />
    <Services />
    <About />
    <Contact />
  </main>
  <footer>
    <Footer/>
  </footer>
</Layout>
