<footer
  class="bg-black text-white py-5 mt-16"
>
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div>
      <h2 class="text-2xl font-bold mb-2">Tiyay Digital Group</h2>
      <p class="text-sm leading-relaxed pr-15 text-justify">
        Creamos plataformas digitales con impacto real. Conectamos marcas y
        personas a través del diseño y la tecnología.
      </p>
    </div>
    <div>
      <h3 class="text-lg font-semibold mb-2">Navegación</h3>
      <ul class="space-y-1 text-sm">
        <li><a href="#services" class="hover:underline">Servicios</a></li>
        <li><a href="#projects" class="hover:underline">Proyectos</a></li>
        <li><a href="#about" class="hover:underline">Nosotros</a></li>
        <li><a href="#contact" class="hover:underline">Contacto</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold mb-2">Contáctanos</h3>
      <p class="text-sm">info@tiyaydigital.com</p>
      <p class="text-sm">+51 999 999 999</p>
      <div class="flex space-x-4 mt-3">
        <a href="" class="hover:text-gray-200"
          ><ion-icon name="logo-facebook"></ion-icon></a
        >
        <a href="" class="hover:text-gray-200"
          ><ion-icon name="logo-instagram"></ion-icon></a
        >
        <a href="#" class="hover:text-gray-200"
          ><ion-icon name="logo-linkedin"></ion-icon></a
        >
      </div>
    </div>
  </div>
  <div class="text-center text-sm mt-8 border-t border-white/30 pt-4">
    <p>&copy; 2025 Tiyay Digital Group. Todos los derechos reservados.</p>
  </div>
</footer>
