---
import IconFast from "../assets/fast-icon.svg";
import IconSecurity from "../assets/security-icon.svg";
import IconDesign from "../assets/design-icon.svg";
import HeroIcon from "../assets/hero-icon.svg";
import LineHero from "./LineHero.astro";
---

<div class="flex flex-col mt-10">
  <div class="pl-4 lg:pl-25 xl:pl-45 mb-10">
    <h1 class="text-5xl font-extrabold mb-5">
      Impulsa tu <span
        class="bg-gradient-to-r from-[#7197D9] to-[#71d9d9] bg-clip-text text-transparent"
        >presencia digital</span
      >
    </h1>
    <div>
      <p class="text-base">
        Desarrollamos plataformas digitales, apps y sitios web a medida que
        potencian tu <b>negocio</b>.
      </p>
      <p>
        Te acompañamos en todo el proceso: concepto, diseño, desarrollo y
        lanzamiento.
      </p>
    </div>
  </div>

  <div class="relative">
    <LineHero variant={true}>
      <IconFast class='h-full lg:ml-25 xl:ml-45'/>
      <p><b>Rápida</b> implementación</p>
    </LineHero>

    <LineHero variant={false}>
      <IconDesign class="h-full ml-45 md:ml-50 lg:ml-80 xl:ml-120 "/>
      <p>Diseño <b>único</b></p>
    </LineHero>

    <LineHero variant={true}>
      <IconSecurity class="h-full lg:ml-25 xl:ml-45" />
      <p><b>Seguridad</b> garantizada</p>
    </LineHero>

    <div class="absolute bottom-0 md:right-5 lg:right-15 xl:right-30 md:h-[120%] lg:h-[140%] hidden sm:block">
      <HeroIcon class="w-full h-full" />
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <a
      href="#"
      class="bg-gradient-to-r from-[#7197D9] to-[#71D9D9] px-6 py-3 rounded-2xl font-bold pointer inline-block"
      >¡Comienza ahora!</a
    >
  </div>
  <a class="fixed bottom-5 right-5 z-50" href="#">
    <ion-icon name="logo-whatsapp" class="max-w-15 max-h-15 text-white text-5xl bg-[#25D366] p-2 rounded-full"></ion-icon>
  </a>
</div>
