---
import IconFast from "../assets/fast-icon.svg";
import IconSecurity from "../assets/security-icon.svg";
import IconDesign from "../assets/design-icon.svg";
import HeroIcon from "../assets/hero-icon.svg";
---

<div class="flex flex-col justify-center h-screen">
  <div class="pl-4 sm:pl-6 md:pl-10 lg:pl-70 xl:pl-60 mb-10">
    <h1 class="text-5xl font-extrabold mb-5">
      Impulsa tu <span
        class="bg-gradient-to-r from-[#7197D9] to-[#71d9d9] bg-clip-text text-transparent"
        >presencia digital</span
      >
    </h1>
    <div>
      <p class="text-base">
        Desarrollamos plataformas digitales, apps y sitios web a medida que
        potencian tu <b>negocio</b>.
      </p>
      <p>
        Te acompañamos en todo el proceso: concepto, diseño, desarrollo y
        lanzamiento.
      </p>
    </div>
  </div>

  <div class="relative">
    <div
      class="w-screen h-15 mb-5 flex items-center lg:pl-55 [box-shadow:0px_2px_7px_#000000] pl-10"
      style="background: linear-gradient(to right, white 0%, #71D9D9 25%, #7197D9 75%, white 100%);"
    >
      <IconFast class="h-full mr-2" />
      <p><b>Rápida</b> implementación</p>
    </div>
    <div
      class="w-screen h-13 mb-5 flex items-center pl-140 [box-shadow:0px_2px_7px_#000000]"
      style="background: linear-gradient(to right, white 0%, #7197D9 25%, #71D9D9 75%, white 100%);"
    >
      <IconDesign class="h-full mr-2" />
      <p>Diseño <b>único</b></p>
    </div>
    <div
      class="w-screen h-15 mb-5 flex items-center pl-55 [box-shadow:0px_2px_7px_#000000]"
      style="background: linear-gradient(to right, white 0%, #71D9D9 25%, #7197D9 75%, white 100%);"
    >
      <IconSecurity class="h-full mr-2" />
      <p><b>Seguridad</b> garantizada</p>
    </div>
    <div class="absolute bottom-0 right-70 h-[140%]">
      <HeroIcon class="w-full h-full" />
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <a
    href="#"
    class="bg-gradient-to-r from-[#7197D9] to-[#71D9D9] px-6 py-3 rounded-2xl font-bold pointer inline-block"
    >¡Comienza ahora!</a
  >
  </div>
  
</div>
