---
import IconFast from "../assets/fast-icon.svg";
import IconSecurity from "../assets/security-icon.svg";
import IconDesign from "../assets/design-icon.svg";
import HeroIcon from "../assets/hero-icon.svg";
---

<div class="">
  <div class="pl-4 sm:pl-6 md:pl-10 lg:pl-20 xl:pl-40 mb-10">
    <h1 class="text-5xl font-extrabold mb-5">
      Impulsa tu <span
        class="bg-gradient-to-r from-[#7197D9] to-[#71d9d9] bg-clip-text text-transparent"
        >presencia digital</span
      >
    </h1>
    <div>
      <p class="text-base">
        Desarrollamos plataformas digitales, apps y sitios web a medida que
        potencian tu <b>negocio</b>.
      </p>
      <p>
        Te acompañamos en todo el proceso: concepto, diseño, desarrollo y
        lanzamiento.
      </p>
    </div>
  </div>

  <div class="relative">
    <div
      class="bg-gradient-to-r from-[#71D9D9] to-[#7197D9] w-screen h-15 mb-5 flex items-center lg:pl-75 [box-shadow:0px_5px_7px_#000000] pl-10"
    >
      <IconFast class="h-full mr-2" />
      <p> <b>Rápida</b> implementación</p>
    </div>
    <div
      class="bg-gradient-to-r from-[#7197D9] to-[#71D9D9] w-screen h-15 mb-5 flex items-center pl-150 [box-shadow:0px_5px_7px_#000000]"
    >
      <IconDesign class="h-full mr-2" />
      <p>Diseño <b>único</b></p>
    </div>
    <div
      class="bg-gradient-to-r from-[#71D9D9] to-[#7197D9] w-screen h-15 mb-5 flex items-center pl-75 [box-shadow:0px_5px_7px_#000000]"
    >
      <IconSecurity class="h-full mr-2" />
      <p><b>Seguridad</b> garantizada</p>
    </div>
    <div class="absolute bottom-0 right-70 h-[140%]">
      <HeroIcon class="w-full h-full" />
    </div>
  </div>
</div>
