---
import LogoTiyay from "../assets/logoTiyay.svg";
---

<div class="w-full flex items-center justify-evenly py-5 bg-transparent backdrop-blur-md fixed top-0 z-50">
  <a href="/" class="flex items-center gap-2">
    <LogoTiyay class="h-13 w-13" />
    <h1 class="text-3xl font-bold">Tiyay Digital Group</h1>
  </a>
  <div class="flex items-center gap-10">
    <a
      href="/"
      class="relative text-gray-600 hover:text-[#539e9e] transition-colors py-2 group"
      >Servicios
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#71D9D9] group-hover:w-full transition-all duration-300"
      ></span></a
    >
    <a
      href="/"
      class="relative text-gray-600 hover:text-[#71D9D9] transition-colors py-2 group"
      >Proyectos
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#71D9D9] group-hover:w-full transition-all duration-300"
      ></span></a
    >
    <a
      href="/"
      class="relative text-gray-600 hover:text-[#71D9D9] transition-colors py-2 group"
      >Quienes Somos
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#71D9D9] group-hover:w-full transition-all duration-300"
      ></span></a
    >
    <a
      href="/"
      class="relative text-gray-600 hover:text-[#71D9D9] transition-colors py-2 group"
      >Contacto
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-[#71D9D9] group-hover:w-full transition-all duration-300"
      ></span></a
    >
  </div>
</div>

<script>
  
</script>