---
import LogoTiyay from "../assets/logoTiyay.svg";
---

<div
  class="w-full flex items-center justify-between lg:justify-evenly py-2 bg-[#ffffffa1] backdrop-blur-md fixed top-0 z-50 px-4 lg:px-0"
>
  <a href="/" class="flex items-center gap-2">
    <LogoTiyay class="h-13 w-13" />
    <h1 class="text-3xl font-bold">Tiyay Digital Group</h1>
  </a>
  <button class="sm:block lg:hidden cursor-pointer text-3xl" id="btn"><ion-icon name="menu-outline"></ion-icon></button>
  <div class="items-center lg:gap-10 lg:flex hidden absolute lg:relative right-0 top-20 lg:top-0 bg-white lg:bg-transparent lg:w-auto lg:p-0  p-5 rounded-2xl shadow-2xl" id="navbar">
    <a href="#services" class="group"
      >Servicios
      <span class=""></span></a
    >
    <a href="#projects" class="group"
      >Proyectos
      <span class=""></span></a
    >
    <a href="#about" class="group"
      >Quienes Somos
      <span class=""></span></a
    >
    <a href="#contact" class="group"
      >Contacto
      <span class=""></span></a
    >
  </div>
</div>

<script>
  const navbar = document.querySelector('#navbar')
  const btn = document.querySelector('#btn')

  btn?.addEventListener('click',()=>{
    navbar?.classList.toggle('hidden')
    navbar?.classList.toggle('grid')
  })
</script>

<style>
  @reference "@/styles/global.css";
  a {
    @apply relative text-gray-600 hover:text-[#71D9D9] transition-colors py-2;
  }
  a > span {
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-[#71D9D9] group-hover:w-full transition-all duration-300;
  }
</style>
