---
// Importación de la imagen (correcto)
import RampalIcon from '../assets/rampal.png'
---
<div class="flex flex-col justify-center items-center space-y-6">
  <h1 class="text-center text-6xl font-bold">
    Descubre <span class="bg-gradient-to-r from-[#71D9D9] to-[#7197D9] bg-clip-text text-transparent">nuestros proyectos</span><br />
    más recientes
  </h1>

  <div>
    <a href="#">
      <img src={RampalIcon.src} alt="Proyecto destacado" class="w-32 hover:scale-105 transition-transform duration-300" />
    </a>
  </div>
</div>
