---
import ServicesIcon from "@/assets/servicesicon.svg";
import SettingsIcon from "@/assets/settingsicon.svg";
---

<div class="mt-10" id="services">
  <div class="w-full flex justify-center sm:justify-evenly items-center">
    <h1 class="text-4xl sm:text-5xl font-extrabold leading-15 text-center sm:text-start ">
      Nuestros <span
        class="bg-gradient-to-r from-[#7197D9] to-[#71d9d9] bg-clip-text text-transparent"
        >servicios<br />especializados</span
      >
    </h1>
    <ServicesIcon class="w-50 h-50 hidden sm:block" />
  </div>
  <div class="py-12 m-auto relative">
    <div
      class="absolute w-full h-10 bg-gradient-to-r from-[#71D9D9] to-[#7197D9] z-1 top-20"
    >
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 max-w-[80%] md:max-w-[95%] xl:max-w-[70%] m-auto gap-5 sm:gap-0">
      <div
        class="bg-white z-10 md:max-w-80 lg:max-w-100 rounded-2xl m-auto py-5 px-10 flex flex-col gap-2 min-h-55"
        style="box-shadow: 6px 6px 12px 0 black;"
      >
        <div class="flex items-center justify-center gap-2">
          <SettingsIcon class="w-10 h-10" />
          <h1 class="text-xl lg:text-2xl font-semibold">Desarrollo Web</h1>
        </div>
        <p class="text-xl text-justify font-thin">
          Diseñamos páginas web adaptadas a tus objetivos, con un enfoque en
          rendimiento, SEO y experiencia de usuario.
        </p>
      </div>
      <div
        class="bg-white z-10 md:max-w-80 lg:max-w-100 rounded-2xl m-auto py-5 px-10 flex flex-col gap-2 min-h-55"
        style="box-shadow: 6px 6px 12px 0 black;"
      >
        <div class="flex items-center justify-center gap-2">
          <SettingsIcon class="w-10 h-10" />
          <h1 class="text-xl lg:text-2xl font-semibold">Desarrollo de Apps</h1>
        </div>
        <p class="text-xl text-justify font-thin">
          Aplicaciones intuitivas, funcionales y escalables para conectar con
          tus usuarios donde sea.
        </p>
      </div>
    </div>
  </div>
  <div class="py-12 m-auto relative">
    <div
      class="absolute w-full h-10 bg-gradient-to-r from-[#71D9D9] to-[#7197D9] z-1 top-20"
    >
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 max-w-[80%] md:max-w-[95%] xl:max-w-[70%] m-auto gap-5 sm:gap-0">
      <div
        class="bg-white z-10 md:max-w-80 lg:max-w-100 rounded-2xl m-auto py-5 px-10 flex flex-col gap-2 min-h-55"
        style="box-shadow: 6px 6px 12px 0 black;"
      >
        <div class="flex items-center justify-center gap-2">
          <SettingsIcon class="w-10 h-10" />
          <h1 class="text-xl lg:text-2xl font-semibold">Sistemas a Medida</h1>
        </div>
        <p class="text-xl text-justify font-thin">
          Desarrollamos software personalizado que mejora tus procesos y te
          ayuda a crecer.
        </p>
      </div>
      <div
        class="bg-white z-10 md:max-w-80 lg:max-w-100 rounded-2xl m-auto py-5 px-10 flex flex-col gap-2 min-h-55"
        style="box-shadow: 6px 6px 12px 0 black;"
      >
        <div class="flex items-center justify-center gap-2">
          <SettingsIcon class="w-10 h-10" />
          <h1 class="text-xl lg:text-2xl font-semibold">Diseño UX/UI</h1>
        </div>
        <p class="text-xl text-justify font-thin">
          Creamos interfaces modernas, atractivas y fáciles de usar para que tus
          clientes se sientan a gusto.
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-10">
    <a
      href="#"
      class="bg-gradient-to-r from-[#7197D9] to-[#71D9D9] px-15 py-3 rounded-2xl font-bold pointer inline-block text-white"
      >Ver más</a
    >
  </div>
</div>
